@charset "UTF-8"
*
*{
    margin: 0px;
    padding: 0px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    #img1{
        background-image: url(../imagens/phone-pp.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        box-shadow: inset 0px -200px 100px rgb(0, 0, 0);
        height: 600px;
    }
    li{
        font-size: 1em;
    }
    ul{
        text-align: end;
    }
    h1{
        font-size: 2.3em;
    }
    div#info{
        margin-top: 200px;
        width: 300px;
        margin-left: 20px;
    }
    p{
        font-size: 1.5em;
        width: 300px;
    }
    div.rede-social{
        top: 280px;
    }
    .social{
        width: 24px;
        height: 24px;
        background-size: contain;
    }
    div#info1 > h2{
        text-align: center;
        font-size: 1.3em;
    }
    div#info1 > p{
        width: 90%;
        font-size: 1em;
        text-align: center;
        margin: auto;
    }
    div#info2 > h2{ 
        text-align: center;
        font-size: 1.3em;
    }
    div#info2 > p{
        width: 90%;
        font-size: 1em;
        text-align: center;
        margin: auto;
    }
    section#imgp{
        height: 800px;
        width: 100%;
        background-color: black;
        background-size: contain;
        box-shadow: inset 0px 10px 20px black;
        background-position: top;
        
    }
    
    h2.sc{
        font-size: 2em;
        padding-top: 150px;
    }
    h2.sc2{
        padding: 0px;
    }
    div#info1{
        position: static;
        text-align: center;
        width: 100%;

    }
    div#btn1{
        margin: auto;
        margin-top: 50px;
    }
    div#info2{
        position: static;
        text-align: center;
        width: 100%;
        
    }
    section#prod{
        height: 500px;
    }
    div#produtos{
        height: 300px;
    }
    div.card{
        height: 80px;
        width: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    div.card:hover{
        height: 100px;
        width: 100px;
    }
    div#produtos{
        height: 300px;
    }
    div.red2{
        top: 200px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    #img1{
        background-image: url(../imagens/phone-p.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        box-shadow: inset 0px -200px 100px rgb(0, 0, 0);
    }
    div.rede-social{
        top: 130px;
    }
    .social{
        width: 24px;
        height: 24px;
        background-size: contain;
    }
    h1{
        font-size: 2em;
    }
    div#info{
        margin-top: 230px;
        width: 400px;
    }
    p{
        width: 400px;
    }
    section#imgp{
        height: 1100px;
        background-color: black;
    }
    div#btn1{
        margin: auto;
        margin-top: 900px;
    }
    div#info1{
        width: 90%;
        left: 50px;
        top: 500px;
        text-align: left;
    }
    div#info2{
        width: 90%;
        left: 50px;
        bottom: 100px;
        text-align: left;
    }
    div#info1 > h2{
        font-size: 1.8em;
    }
    div#info1 > p{
        width: 80%;
        font-size: 1.3em;
    }
    div#info2 > h2{
        font-size: 1.8em;
    }
    div#info2 > p{
        width: 70%;
        font-size: 1.3em;
    }
    section#prod{
        height: 600px;
    }
    div#produtos{
        height: 300px;
    }
    div.card{
        height: 130px;
        width: 130px;
    }
    div.card:hover{
        height: 150px;
        width: 150px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #img1{
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        box-shadow: inset 0px -300px 100px rgb(0, 0, 0);
    }
    div.rede-social{
        top: 130px;
    }
    .social{
        width: 24px;
        height: 24px;
        background-size: contain;
    }
    section{
        height: 1000px;
    }
    div#info{
        margin-top: 180px;
        width: 400px;
    }
    h1{
        font-size: 3em;
    }
    section#imgp{
        background-position: center;
        background-size: cover;
        height: 600px;
        width: 100%;
    }
    div#info1{
        right: -50px;
        top: 330px;
        width: 280px;
        text-align: left;
    }
    div#info2{
       left: 30px;
       top: 300px;
       width: 300px;
       text-align: left;
    }
    div#info1 > h2{
        font-size: 1.4em;
        padding-top: 10px;
    }
    div#info1 > p{
        width: 80%;
        font-size: 1.2em;
    }
    div#info2 > h2{
        font-size: 1.4em;

    }
    div#info2 > p{
        margin-top: 0px;
        width: 70%;
        font-size: 1.2em;
    }
    div#btn1{
        margin: auto;
        margin-top: 400px;
    }
    section#prod{
        background-position: center;
    }
    div.card{
        height: 200px;
        width: 200px;
    }
    div.card:hover{
        height: 250px;
        width: 250px;
    }
}
